services:
  app:
    build: .
    ports:
      - '3000:3000'
    depends_on:
      - mongo
      - redis
    environment:
      - MONGO_URL=mongodb://mongo:27017/e-commerce
      - REDIS_URL=redis://redis:6379
    volumes:
      - .:/app

  mongo:
    image: mongo
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db # if not do this then delete all data when stop container

  redis:
    image: redis
    ports:
      - '6379:6379'
    volumes:
      - redis-data:/data
volumes:
  mongo-data:
  redis-data:
